@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 90vh;
    margin-top: 10px;
    background-color: goldenrod;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#imagem{
    background-image: url("../img/forca.png");
    width: 234px;
    height: 272px;
    background-repeat: no-repeat;
}
#palavra-secreta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-top: 30px;
}

.letras{
    width: 16px;
    text-align: center;
    border-bottom: 2px solid #8b008b;
    color: #ffffff;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#teclado{
    margin-top: 30px;
}

.teclas button{
    width: 24px;
    height: 24px;
    margin: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow:  0px 2px 8px dimgray;
    border-radius: 5px;
    border: 1px solid dimgrey;  
    color: #8b008b;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}

.teclas button:hover{
    transform:scale(1.3);
}

#categoria{
    margin-top: 30px;
    color: #8b008b;
    font-size: 1.2em;
}

@media (min-width: 321px){
    .teclas button{
        width: 25px;
        height: 25px;
    }
    #categoria{
        font-size: 1.3em;
    }
}

@media (min-width: 376px){
    .teclas button{
        width: 30px;
        height: 30px;
    }
    #palavra-secreta{
        font-size: 1.3em;
    }
    .letras{
        width: 18px;
    }

    #categoria{
        font-size: 1.5em;
    }
}

@media (min-width: 426px){
    .teclas button{
        width: 36px;
        height: 36px;
    }
    #palavra-secreta{
        font-size: 1.5em;
    }
    .letras{
        width: 20px;
    }

    #categoria{
        font-size: 1.6em;
    }
}

@media (min-width: 769px){
    .teclas button{
        width: 68px;
        height: 68px;
        font-size: 2em;
    }
    #palavra-secreta{
        font-size: 2.5em;
    }
    .letras{
        width: 35px;
    }

    #categoria{
        font-size: 2em;
    }
}


